#!/usr/bin/env bash
set -euo pipefail

mkdir -p /var/log/asterisk /var/spool/asterisk /var/run/asterisk
chown -R asterisk:asterisk /var/log/asterisk /var/spool/asterisk /var/run/asterisk || true

exec "$@"
